h1 {
    font-size: 100px;
    font-family: 'Moirai One', cursive;
    color:rgb(88, 150, 201);
    text-align: center;
}

h2 {
    font-family: 'Moirai One', cursive;
    color:rgb(88, 150, 201);
    text-align: left;
    font-size: 35px;
}

#wrapper {
    margin:0 auto;
    width:90%;
    display: flex;
    justify-content:space-between;
}

li {
    list-style: none;
    margin-bottom: 5px;
}

#categoryList {
    width:20%;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
}

#bookList {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:flex-start;
    align-items: flex-start;
    width:80%;

}

#categoryList a {
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:rgb(88, 150, 201);
}

.bookObject {
    display: flex;
    flex-direction: column; /* Align book image and link vertically */
    width: 200px;
    height: 350px;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.bookObject img {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    height: 280px;
    width:180px;
    margin:10px auto;
}

.bookObject a {
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    width:fit-content;
    color:rgb(88, 150, 201);
}

#display {
    margin:0 auto;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.displayObject {
    display: flex;
    flex-direction:row;
    width:70%;
    margin:0 auto;
    flex-wrap: wrap;
}

#display img {
    width:300px;
    height:420px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    margin:40px auto;
    align-self: baseline;

}

#display a {
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    width:fit-content;
    font-size: xx-large;
    color:rgb(88, 150, 201);
}



#display p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#display li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}